<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/signin.css}"></link>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js}"></script>
    <script th:src="@{ //maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <title>Log in</title>
    <link rel="shortcut icon" th:href="@{/css/favicon.png}" type="image/png"></link>
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="container">
    <div class="row" style="margin-top:150px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-left: 39%;">
            <form th:action="@{/login}" method="post">
                <fieldset style="width: 300px;">
                    <h3 style="margin-left: 5%;">Please Sign In</h3>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               placeholder="Username" required="true" autofocus="true" style="width: auto;"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               placeholder="Password" required="true" style="width: auto;"/>
                    </div>

                    <div class="row" style="width: auto;">
                        <div class="col-xs-6 col-sm-6 col-md-6" style="width: auto; margin-left: 15px;">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6" style="width: auto;">
                            <a th:href="@{/user/register}">
                            <input  type="button" class="btn btn-lg btn-primary" value="Sign up"/>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

<div th:replace="layout :: footer"></div>

</body>
</html>